# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Files
src/Makefile
tests/Makefile
tests/mocks/Makefile
tests/fakes/Makefile
run_clang_format.sh

# Directories
out/*
.settings/*
tests/work/*
